appdirs==1.4.3
colorama==0.3.7
packaging==16.8
pep8==1.7.0
psycopg2==2.7.1
py==1.4.32
pycodestyle==2.3.1
pyparsing==2.2.0
pytest==3.0.7
requests==2.13.0
six==1.10.0
virtualenv==15.0.3
virtualenvwrapper-win==1.2.1
